*{
    font-family: montserrat;
}

.navbar .container .navbar-brand{
    font-size: 40px;
    color: #393E46;
}
.navbar .container span{
    color: #F9F7F7;
}

.navbar{
    background-color: #00ADB5;
}

.navbar ul li a{
    color: #393E46;
}

.jumbotron{
    padding-top: 9rem;
    background-color: #E3FDFD;
}

.jumbotron img{
    width: 250px;
}

#Tentang{
    background-color: #CBF1F5;
}

.jumbotron :nth-child(2){
    font-weight: bold;
}
.jumbotron :nth-child(3){
    font-size: 25px;
}

#pendidikan{
    background-color: #A6E3E9;   
}

.tombol1{
    margin-top: 142px;
}

.tombol2{
    margin-top: 142px;
}

.tombol3{
    margin-top: 65px;
}

#Project{
    background-color: #71C9CE;
}

section{
    padding-top: 5rem;
}

#ContactMe{
    background-color: #71C9CE;
}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E3FDFD;
    border: 1.5px solid #393E46;
    border-radius: 50%;
    margin: 10px 10px;
    text-decoration: none;
    color: #393E46;
    font-size: 20px;
}

.social a:hover{
    background-color: transparent;
    border: 2px solid #E3FDFD;
    color: #E3FDFD;
    transition: 0.6s;
}

footer{
    background-color: #00ADB5;
}

